/**/
#bloc1 {
    background-color:rgba(0, 162, 135, 0.8);
    border-radius:2px;
}


.formLegend {

}

html, body {
    height:100%;
    width:100%;
}

#adminLabel {
    text-align:left;
 //   border:2px solid yellow;
}

#adminWidget {
    text-align:center;
}

#logoutButton{
    color:red;
}

#mapButton {
    color:blue;
}

.lead {
    font-size:220%;
}

/* Homepage banner
._head {
    position:relative;
    padding:120px 50px;
    
    text-align:left;
}
*/

#homeBanner {
    background-color:#99E4D1;
    color:rgba(0,0,0,1);
}

body {
    height:100%;
}

#footer {
    background-color:#191919;
    margin-top:50%;
    padding-top:0%;
    text-align:left;

}

.text-muted {
    margin-left:2%;
}

#adminButton {

    text-align:right;// position : full right

}

#adminButton:hover {
    color:#0CE3AC;
    text-decoration:none;
}

