/**/

html, body {
    height:100%;
    width:100%;
}

.col-md-12 , .col-md-3 , .col-md-1 , .col-md-6 , col-md-2{
    text-align:center;
//    border : 2px solid yellow;
}

.lead {
    font-size:220%;
}

/* Homepage banner */
._head {
    position:relative;
    padding:120px 50px;
    color:rgba(0,0,0,1);
    text-align:left;


    background-color:/*#004B38*/#99E4D1;

}

.sub_head {
    
}